<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../dashboardStylesheet.css" />

    <script>
      window.onload = function () {
        var dataPoints = <%- JSON.stringify(dataPoints); %>;
        var operationalCount = '<%= operationalCount; %>';
        var nonOperationalCount = '<%= nonOperationalCount; %>';

        var chart = new CanvasJS.Chart('chartContainer', {
          animationEnabled: true,
          theme: 'light2', // "light1", "light2", "dark1", "dark2"
          title: {
            text: 'All Equipment by Type',
          },
          axisY: {
            title: 'Count',
          },
          axisX: {
            title: 'Equipment Type',
          },
          data: [
            {
              type: 'column',
              showInLegend: false,
              legendMarkerColor: 'white',
              legendText: 'Equipment Type',
              dataPoints,
            },
          ],
        });
        chart.render();
      };
    </script>
  </head>
  <body>
    <h1>Equipment Dashboard 📈</h1>
    <h2>Operational: <b><%= operationalCount; %></b></h2>
    <h2>Non-Operational: <b><%= nonOperationalCount; %></b></h2>
    <button onclick="location.reload();">Refresh (update) data</button>
    <div id="chartContainer" style="height: 370px; width: 100%"></div>
    <script src="../../canvasjs.min.js"></script>
  </body>
</html>
